
$main-color: #3C4150;
$second-color: #01C1B2;
$three-color:#4494F9;
$header-height:50px;
$rd:#fe0303;

//清除浮动
@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//定位上下左右居中
@mixin fxied-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

@mixin relative {
    position: relative;
    width: 100%;
    height: 100%;
}

//左右浮动
@mixin f_left(){
    float: left;
}
@mixin f_right(){
    float: right;
}
.my_form_label .el-form-item__label{
    font-size: .35rem !important;
}
.my_form_label .el-radio-group{
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

